/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333333;
}

/* Header and Navigation */
header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-container img {
    height: 50px;
    display: inline-block;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

/* Contact Section */
#contacto {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
}

.contacto-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contacto-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contacto-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    position: relative;
}

.social-media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.social-icon img:hover {
    transform: scale(1.1);
}
