body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}

/* Header and Navigation Container */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.logo-container img {
    height: 50px;
    display: inline-block;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado uniforme entre los botones */
    flex-grow: 1; /* Asegura que los botones estén centrados */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

/* Footer */
footer {
    background-color: #333333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Enlaces alineados a la izquierda */
.footer-links {
    text-align: left;
    flex: 1;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Texto centrado */
.footer-center {
    text-align: center;
    flex: 1;
}

/* Redes sociales alineadas a la derecha */
/* Redes sociales alineadas a la derecha y más grandes */
.social-media {
    text-align: right;
    flex: 1;
}

.social-media a {
    color: white;
    font-size: 24px; /* Tamaño aumentado */
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}


/* Media Queries */
@media (max-width: 768px) {
    #quienes-somos {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center;
    }

    #quienes-somos h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #quienes-somos p {
        font-size: 14px;
        max-width: 100%;
    }

    .slider-container {
        width: 100%;
    }

    .slider-button {
        font-size: 18px;
        padding: 8px;
    }
}