/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333333;
}

/* Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Envía el video detrás del contenido */
}

/* Header and Navigation Container */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.logo-container img {
    height: 50px;
    display: inline-block;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado uniforme entre los botones */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

/* Sections */
.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Slider Styles */
#slider {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.slider-container {
    overflow: hidden; /* Para ocultar las imágenes que no están visibles */
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto; /* Mantiene la proporción de las imágenes */
    max-width: 800px; /* Limita el tamaño máximo de las imágenes */
    max-height: 400px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Ajusta las imágenes para cubrir el área sin distorsionarlas */
    border-radius: 5px;
}

/* Botones de Slider */
.slider-buttons {
    margin-top: 10px;
}

.slider-button {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.slider-button:hover {
    background-color: rgba(51, 51, 51, 1);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    color: white;
    margin-top: 20px;
}
