body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: src="https://cdn.glitch.global/7053447f-2509-4e39-9176-28733a97b57a/fondo.mp4?v=1736295041783" no-repeat center center/cover;
    color: #333333;
}

header {
    background-color: #333333;
    padding: 10px 20px;
}

.logo-container img {
    height: 50px;
    display: inline-block;
}

nav {
    text-align: center;
    background: #444444;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #333333;
    color: white;
    margin-top: 20px;
}
