body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}

/* Header and Navigation Container */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.logo-container img {
    height: 50px;
    display: inline-block;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado uniforme entre los botones */
    flex-grow: 1; /* Asegura que los botones estén centrados */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}
.testimonio {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    color: white;
    margin-top: 20px;
    position: relative;
}

/* Redes Sociales en el Footer */
.social-media {
    position: absolute;
    right: 20px; /* Alineado al extremo derecho */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px; /* Espaciado entre los íconos */
}

.social-icon img {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
    transition: transform 0.3s ease;
    border-radius: 50%; /* Hace los íconos redondos */
    padding: 0; /* Elimina el padding */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Elimina cualquier borde */
}

.social-icon img:hover {
    transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el ratón */
}

/* Media Queries */
@media (max-width: 768px) {
    #quienes-somos {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center;
    }

    #quienes-somos h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #quienes-somos p {
        font-size: 14px;
        max-width: 100%;
    }

    .slider-container {
        width: 100%;
    }

    .slider-button {
        font-size: 18px;
        padding: 8px;
    }
}
